@font-face {
  font-family: "Neue Montreal";
  src: url("./assets/font/NeueMontreal-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #001e00;
  color: white;
  font-family: "Neue Montreal", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  padding: 27px;
  padding-bottom: 80px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 700px;
  gap: 15px;
}

.container {
  width: 1214px;
  margin-top: 27px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.review__title {
  padding-top: 27px;
  padding-left: 3px;
}

.review__stars {
  display: flex;
  gap: 6px;
  margin-top: 68px;
  margin-bottom: 22px;
}

.review__star {
  width: 50px;
  height: 50px;
  background-image: url("./assets/img/Star.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.review__text {
  font-size: 2rem;
  margin: 15px 0;
  line-height: 1.3;
  max-width: 95%;
  letter-spacing: 1px;
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
}

.review__client {
  width: 100%;
  margin-top: 33px;
}

.review__upwork-logo {
  font-size: 1.7rem;
  font-weight: bold;
  margin-top: 83px;
  padding-bottom: 27px;
  padding-left: 3px;
}

.save-button,
.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.save-button {
  background-color: #108a00;
  margin-top: 40px;
}

.back-button {
  background-color: #555;
}

.save-button:hover,
.feedback-form__submit-button:hover {
  background-color: #14a800;
}

.back-button:hover {
  background-color: #777;
}

.feedback-form__input {
  margin: 0;
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  height: 250px;
  resize: none;
  border-radius: 8px;
  font-family: inherit;
}

.feedback-form__submit-button {
  padding: 10px 20px;
  background-color: #108a00;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1.2rem;
}

.feedback-form__submit-button:active,
.save-button:active {
  transform: scale(0.96);
}

.qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin-top: 30px;
}

.qr-container h4 {
  font-size: 2rem;
  font-weight: normal;
}

.qr-input {
  width: 100%;
  padding: 10px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#qrcode {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  background: white;
  padding: 5px;
  border-radius: 4px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  font-size: 0.9rem;
  background-color: #001400;
  z-index: 100;
}

footer p {
  margin: 0;
  color: #ccc;
}

footer a {
  color: #14a800;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    height: auto;
    padding: 20px;
  }
  .review__text {
    font-size: 1.5vw;
    max-width: 100%;
  }
  .review__star {
    width: 25px;
    height: 25px;
  }
}
